footer {
    background-color: rgb(50, 50, 50);
    color: white;

    .white-logo {
        max-width: 6%;
        margin-left: 40px;
        margin-top: 20px;
        filter: invert(1);
    
        @media screen and (max-width: 768px) {
            max-width: 36%;
        }
    }

    ul {
        list-style-type: none;
    }

    span {
        display: flex;
        align-items: center;
        margin-bottom: 4px;

        .fa-solid {
            max-width: 14px;
            margin-right: 20px;
        }
    }

}