body {
  font-family: $font-stack;
  color: $font-color;
}

.loader {
  background-color: $loader-color;
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: disapear 2s;
  visibility: hidden;
  z-index: 99;
}

.spinner {
  /* Light grey */
  border: 16px solid $white-color;
  /* Blue */
  border-top: 16px solid $primary-color;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear;
  z-index: 100;
}

.img-logo {
  width: auto;

  @media screen and (max-width: 768px) {
    width: -webkit-fill-available;
  }
}

.recherche {
  background-color: $back-color;
  height: 40px;
  line-height: 35px;
  margin-top: -10px;
}

.fas.fa-map-marker-alt {
  margin-right: 20px;
}

.content {
  width: 100%;
  height: auto;


  .explorer {
    text-align: center;
    background-color: $explorer-back;
    padding-bottom: 40px;
    margin-top: -20px;

    a {
      display: flex;
      text-decoration: none;
      justify-content: center;
    }
  }

  .bouton-explorer {
    border-radius: 25px;
    min-width: 250px;
    max-width: 300px;
    height: 50px;
    line-height: 45px;
    color: white;
    cursor: pointer;
    display: flex;
    background: linear-gradient(350deg, $primary-color 30%, $secondary-color 100%);
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 768px) {
      line-height: unset;
      margin-left: 25%;
      margin-right: 25%;
      max-width: 250px;
    }

    &:hover {
      box-shadow: 0 0 16px 0 rgba(119, 119, 119, 0.5);
      opacity: 0.7;
    }
  }
}

.fonctionnement {

  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  font-weight: bold;

  @media screen and (max-width: 1440px) {
    flex-direction: column;
  }

  .bouton-fonction {
    display: flex;
    background-color: $bouton-fonction-back;
    align-items: center;
    border-radius: 32px;
    width: 26%;
    height: 85px;
    justify-content: center;
    align-content: center;
    margin-top: 15px;
    box-shadow: 4px 5px 11px -5px #0000005c;

    @media screen and (max-width: 768px) {
      display: flex;
      width: 290px;
      height: 75px;
      justify-content: flex-start;
    }

    @media screen and (min-width: 769px) and (max-width: 1440px) {
      width: 50%;
    }

    .description {
      display: flex;
      align-items: center;
      width: 250px;
      justify-content: center;

      @media screen and (max-width: 768px) {
        margin: unset;
        justify-content: flex-end;
      }
    }

    .chiffres {
      display: flex;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      color: white;
      position: absolute;
      background-color: $primary-color;
      margin-right: 26%;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 768px) {
        margin-left: -3%;
      }

      @media screen and (min-width: 769px) and (max-width: 1440px) {
        left: 23%;
        margin: unset;
      }
    }

    i.fa-solid {
      margin: 15px;
    }
  }
}

.bouton-fonction:hover {
  background-color: $bouton-fonction-hover;

  .fa-solid {
    color: $primary-color;
  }
}

.description-restaurant {
  margin-left: 15px;

  h3 {
    display: flex;
    justify-content: space-between;

    i.fa-regular.fa-heart {
      margin-right: 10px;
    }
  }
}

.description-nouv {
  display: flex;
  text-align: center;
  position: absolute;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
  color: darkolivegreen;
  background: #99E2D0;
  border-radius: 5px;
  font-weight: bold;
  line-height: 35px;
  width: 90px;
  justify-content: center;

  .fa-heart {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 0;
    margin-right: 20px;
    align-items: flex-end;
  }
}


.cadres-restaurants {
  background-color: $bouton-fonction-back;
  padding: 50px;
  margin-top: 20px;

  @media screen and (max-width: 768px) {
    padding: 20px;
  }


  h2 {
    margin-top: -20px;
  }

  .restaurants {
    display: flex;
    justify-content: space-around;
    gap: 55px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    @media screen and (min-width: 769px) and (max-width: 1440px) {
      justify-content: center;
      gap: 20px;
      display: flex;
      flex-wrap: wrap;
    }
  }

  .restaurants-img {
    position: relative;
    background-color: white;
    border-radius: 18px;
    box-shadow: 0 0 16px #0000002e;
    // flex-grow: 1;
    // flex-basis: 25%;

    a {
      text-decoration: none;
      color: black;
    }

    @media screen and (min-width: 769px) and (max-width: 1440px) {
      flex-grow: initial;
    }
  }

  .img-restaurants {
    width: 410px;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    @media screen and (max-width: 768px) {
      width: 100%;
      height: 190px;
    }

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      height: 300px;
    }

    @media screen and (min-width: 1024px) and (max-width: 1440px) {
      width: 320px;
    }
  }

  .description-restaurant {
    .fa-regular {
      &:hover {
        animation: coeur 1000ms forwards;
      }
    }
  }
}