.header {
    display: flex;
    justify-content: center;
    align-items: center;

    .arrow {

        /* top: 131px; */
        left: 5px;
        line-height: 73px;
        margin-left: -230px;
        font-size: x-large;

        @media screen and (max-width: 767px) {
            margin: -7px auto -1px 0px;
        }

    }
}

.img-logo {
    display: flex;

    @media screen and (max-width: 767px) {
        width: 75%;
        height: 40px;
        margin-left: 41px;
    }
}

.imgfond {
    object-fit: cover;
    width: 100%;
    height: 613px;

    @media screen and (max-width: 767px) {
        height: 300px;
    }
}

.menu1 {
    background-color: $explorer-back;
    border-radius: 30px 30px 0 0;
    margin-top: -30px;
    position: relative;
    padding: 10px;

    .titre1 {

        .francaise {
            font-family: $font-logo-title;
            display: flex;
            justify-content: space-between;
        }

        .fa-heart {
            margin-right: 20px;

            @media screen and (max-width: 768px) {
                margin-left: 13%;
                margin-right: 0;
            }

            &:hover {
                animation: coeur 1000ms forwards;
            }
        }

        .barre {
            position: relative;
            background-color: green;
            height: 5px;
            width: 37px;
            margin-top: -17px;
        }

        .menus {
            display: flex;
            justify-content: space-between;
            animation: apparitionmenus 0.5s;

            @media screen and (max-width: 767px) {
                flex-direction: column;
            }

            .choixmenu {
                display: flex;
                white-space: nowrap;
                overflow: hidden;
                background-color: white;
                border-radius: 15px;
                box-shadow: 2px 2px 2px grey;
                cursor: pointer;
                width: 100%;
                height: 75px;
                margin: 5px;
                margin-top: 10px;
                text-overflow: ellipsis;

                .description-menu {
                    padding: 10px;
                    margin-top: -18px;
                    overflow: hidden;
                    flex-direction: row;
                    width: 100%;

                    h3,
                    p {
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                .prix {
                    display: flex;
                    justify-content: end;
                    align-items: flex-end;
                    margin-top: 51px;
                    margin-right: 20px;
                    font-weight: 600;
                }

                .margintop {
                    margin-top: -33px;
                    margin-right: 5px;
                }

                .check {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #99E2D0;
                    width: 100px;
                    color: white;

                    font-size: x-large;
                    margin-right: -100px;
                    transition-duration: 500ms;
                }

                &:hover .check {
                    margin: 0;
                }

                &:hover .fa-solid {
                    transform: rotate(360deg);
                    transition: 500ms;
                }

            }

        }
    }

    .bouton-commander {
        margin-top: 20px;
        border-radius: 25px;
        max-width: 240px;
        height: 50px;
        line-height: 45px;
        color: white;
        cursor: pointer;
        display: flex;
        background: linear-gradient(350deg, $primary-color 30%, $secondary-color 100%);
        justify-content: center;
        align-items: center;
    }

    &:hover .bouton-commander {
        box-shadow: 0 0 16px 0 rgba(119, 119, 119, 0.5);
        opacity: 0.9;
    }
}