.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .arrow {
        line-height: 73px;
        padding-left: 20px;
        font-size: x-large;
        display: flex;
    }
}

.img-logo {
    padding-right: 20px;
    display: flex;
    width: 100%;
    justify-content: center;

    @media screen and (max-width: 1024px) {
        height: 35px;
    }
}

.imgfond {
    object-fit: cover;
    width: 100%;
    height: 613px;

    @media screen and (max-width: 767px) {
        height: unset;
    }
}

.menu1 {
    background-color: $explorer-back;
    border-radius: 30px 30px 0 0;
    margin-top: -30px;
    position: relative;
    padding: 10px;

    .titre1 {

        .francaise {
            font-family: $font-logo-title;

            @media screen and (max-width: 767px) {
                display: flex;
                justify-content: space-between;
            }
        }


        .fa-heart {
            &:hover {
                animation: coeur 1000ms forwards;
            }
        }

        .barre {
            position: relative;
            background-color: $font-vert;
            height: 5px;
            width: 37px;
            margin-top: -17px;
        }

        .menus {
            display: flex;
            justify-content: space-between;
            animation: apparitionmenus 0.5s;

            @media screen and (max-width: 767px) {
                flex-direction: column;
            }

            .choixmenu {
                display: flex;
                white-space: nowrap;
                overflow: hidden;
                background-color: white;
                border-radius: 15px;
                box-shadow: 2px 2px 2px grey;
                cursor: pointer;
                width: 100%;
                height: 75px;
                margin: 5px;
                margin-top: 10px;
                text-overflow: ellipsis;

                .description-menu {
                    padding: 10px;
                    margin-top: -18px;
                    overflow: hidden;
                    flex-direction: row;
                    width: 100%;

                    h3,
                    p {
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                .prix {
                    display: flex;
                    justify-content: end;
                    align-items: flex-end;
                    margin-top: 51px;
                    margin-right: 20px;
                    font-weight: 600;
                }


                .check {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $font-vert;
                    width: 100px;
                    color: white;
                    font-size: x-large;
                    margin-right: -100px;
                    transition-duration: 500ms;
                }

                &:hover .check {
                    margin: 0;
                }

                &:hover .fa-solid {
                    transform: rotate(360deg);
                    transition: 500ms;
                }

            }

        }
    }

    .commander {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px auto 30px auto;
    }

    .bouton-commander {
        font-size: 16px;
        border-radius: 25px;
        width: 235px;
        height: 50px;
        line-height: 45px;
        color: white;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background: linear-gradient(350deg, #9356DC 30%, #FF79DA 100%);

        &:hover {
            box-shadow: 0 0 16px 0 rgba(119, 119, 119, 0.5);
            opacity: 0.7;
        }
    }
}