
$font-stack: 'Roboto';
$font-logo-title: 'Shrikhand';
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tiers-color: #dee6e4;
$back-color: #E7E7E7;
$bouton-fonction-back:#ededed57;
$bouton-fonction-hover: #d6b6fc4c;
$explorer-back:#F7F7F7;
$font-color:black;
$white-color:#f3f3f3;
$font-vert: #99E2D0;

